<h3>Formulaire</h3>

<form [formGroup]="myGroup" >
    <label for="email">Email</label>
    <input type="text" formControlName="email">
    <label for="password">Password</label>
    <input type="text" formControlName="password">

    <div formArrayName="Pseudos">
        @for (control of this.getPseudos().controls; track control; let index = $index) 
        {
            {{index+1}}
            <input type="text" [formControlName]="index">
            <button (click)="removePseudo(index)">Remove</button>
        }
        <button (click)="addPseudo()">Add pseudo</button>

    </div>

    <button type="submit" (click)="handleSubmit()">Submit</button>
</form>